<!-- <router-outlet></router-outlet> -->
<!-- <section> -->
  <!-- <header>
    <button [routerLink]="['/shopping-cart']" class="backBtn">Go Back</button>
    <h3 class="heading">
      Shopping Cart
    </h3>
    <div class="icons">
      <mat-icon id="homeIcon" (click)="navigateToHome()">home</mat-icon>
      <mat-icon id="cartIcon" class="add-btn">shopping_cart
      </mat-icon>
      <mat-icon class="Icon">account_circle</mat-icon>
    </div>
  </header> -->
  <!-- <div class="routerContent"> -->
    <router-outlet></router-outlet>
  <!-- </div>
</section> -->
